.reveal pre {
    height: 100%;
    width: 100%;
}

.reveal pre code {
    max-height: 36em;
    font-size:18pt;
    line-height: 1.2em;
}



div.left-pane {
    float: left;
    display:block;
    width: 45%;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
}

div.right-pane {
    float: right;
    text-align: left;
    width: 45%;
    margin-left: 1em;
    margin-right: 1em;
}


